/** HEADER **/
#header-nav {
  background-color: #A9F3ED;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  text-align: center;
}
#nav-list a:hover {
  background: #E0EBEA;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* tiles */
.menu-description { 
  position: relative;
  border: 1px solid #010101;
  height: 1000px;
  margin: 0 auto 15px;
  background-color: #CDDAD9;
}
.menu-description .menu-title {
  text-align: center;
}
.menu-description .menu-item-description {
  padding-right: 20px;
  padding-left: 20px;
}